<div class="flex justify-between items-center  text-white p-4 border-b border-primary/20">
     <div class="flex items-center gap-2">
        <div class="flex items-center justify-center size-8 rounded-full bg-primary/10 text-primary">
            <span class="material-symbols-outlined text-2xl text-primary">lunch_dining</span>
        </div>
        <h1 class="text-2xl font-extrabold tracking-tight text-primary">Delivroo</h1>
    </div>
    <div class="flex items-center gap-2 ">
      <img src="{{ logotipo }}" alt="Logo" class="w-10 h-10 rounded-md object-cover border border-gray-700">
      <span class="text-base font-semibold text-gray-700 leading-none">{{ storeName }}</span>
   </div>
</div>
