
<div class="min-h-screen flex flex-col items-center justify-center">
<main class="grow flex flex-col items-center justify-center px-8 pt-12 w-full">
    <div class="w-full max-w-sm flex flex-col items-center">
         <div class="flex items-center gap-2">
          <div class="flex items-center justify-center size-8 rounded-full bg-primary/10 text-primary">
             <span class="material-symbols-outlined text-2xl text-primary">lunch_dining</span>
          </div>
          <h1 class="text-2xl font-extrabold tracking-tight text-primary">Delivroo</h1>
        </div>
        <div class="mb-10 flex flex-col items-center text-center">
           
            <p class="text-background-dark/60  text-base mt-2">Painel de Gerenciamento</p>
        </div>
        <div class="w-full">
            <form action="#" class="space-y-4">
                <div class="space-y-1.5">
                    <label class="block text-xs font-bold uppercase tracking-wider text-background-dark/50 ml-1" for="email">E-mail</label>
                    <div class="relative">
                        <span class="material-icons absolute left-4 top-1/2 -translate-y-1/2 text-background-dark/40 ">mail_outline</span>
                        <input 
                            class="w-full pl-12 pr-4 py-4 bg-white border border-primary/10 rounded-2xl focus:ring-2 focus:ring-primary focus:border-primary outline-none transition-all text-background-dark placeholder:text-background-dark/30 shadow-sm" 
                            id="email" 
                            name="email" 
                            placeholder="exemplo@delivroo.com" 
                            required="true" 
                            type="email" 
                            [ngModel]="email()"
                            (ngModelChange)="email.set($event)"
                        />
                    </div>
                </div>
                <div class="space-y-1.5">
                    <label class="block text-xs font-bold uppercase tracking-wider text-background-dark/50 ml-1" for="password">Senha</label>
                    <div class="relative">
                        <span class="material-icons absolute left-4 top-1/2 -translate-y-1/2 text-background-dark/40 ">lock_outline</span>
                        <input 
                            class="w-full pl-12 pr-12 py-4 bg-white border border-primary/10 rounded-2xl focus:ring-2 focus:ring-primary focus:border-primary outline-none transition-all text-background-dark  placeholder:text-background-dark/30  shadow-sm" 
                            id="password" 
                            name="password" 
                            placeholder="••••••••" 
                            required="true" 
                            [type]="showPassword ? 'text' : 'password'" 
                            (ngModelChange)="password.set($event)" 
                            (ngModel)="password()"/>
                        <button (click)="togglePasswordVisibility()" class="absolute right-4 top-1/2 -translate-y-1/2 text-background-dark/40  hover:text-primary transition-colors" type="button">
                            <span class="material-icons text-xl">{{ showPassword ? 'visibility' : 'visibility_off' }}</span>
                        </button>
                    </div>
                </div>
                @if(errorMessage) {
                    <div class="space-y-1.5 text-center">
                        <span class="text-red-600 text-sm font-semibold">{{ errorMessage }}</span>
                    </div>
               }
                <div class="flex justify-end pt-1">
                    <a class="text-sm font-semibold text-primary hover:text-primary/80 transition-colors" href="#">Esqueceu sua senha?</a>
                </div>
                <button 
                    [disabled]="isLoading()" 
                    (click)="onLogin()"  
                    class="w-full bg-primary hover:bg-primary/90 text-white font-bold py-4 rounded-2xl shadow-lg shadow-primary/30 transition-all active:scale-[0.98] flex items-center justify-center space-x-2 mt-6" 
                    type="button"
                    >
                       @if (isLoading()) {
                            <span class="material-icons animate-spin text-xl">autorenew</span>
                            <span>Aguarde...</span>
                        } @else {
                            <span>Entrar</span>
                            <span class="material-icons text-xl">login</span>
                        }
                </button>
            </form>
        </div>
    </div>
</main>
<footer class="shrink-0 pb-8 pt-4 px-8 flex flex-col items-center space-y-4">
    <div class="flex flex-col items-center text-sm text-background-dark/50 text-center leading-relaxed font-medium">
        <p>© {{ this.year }} JC Software. Todos os direitos reservados.</p>
    </div>
</footer>
</div>

